DEBUG=False
SECRET_KEY=django-insecure-r8iy%2h0-5d_!$&nn4_^2mjjxcbhegae3lx+u8voq*lk+jn62q
ALLOWED_HOSTS=ismatismoilov.uz,www.ismatismoilov.uz,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://ismatismoilov.uz,https://www.ismatismoilov.uz,http://ismatismoilov.uz,http://www.ismatismoilov.uz
